version: '3.9'
services:
  backend:
    build: 
      context: ./backend
      dockerfile: dockerfile
    ports:
      - "5000:5000"

    restart: always


  frontend:
    build:
      context: ./frontend 
      dockerfile: dockerfile

    ports:
      - "8501:8501"
      
    depends_on: 
      - backend
      
    restart: always
